:root{
    --cor-primaria: lightcoral;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
}


.pergunta, .feedback {
    display: none;
}

.pergunta:first-of-type {
    display: block;
}
